.heading-highlighter__heading {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  word-break: normal;
  padding: 3px;
  margin-right: 3px;
}

.heading-highlighter-toggle {
  position: fixed;
  left: 0.25rem;
  z-index: 600;
}

/* Y placement bottom */
.heading-highlighter-toggle.bottomLeft,
.heading-highlighter-toggle.bottomCenter,
.heading-highlighter-toggle.bottomRight {
  bottom: 1rem;
  top: auto;
}

/* Y placement middle */
.heading-highlighter-toggle.midLeft,
.heading-highlighter-toggle.midCenter,
.heading-highlighter-toggle.midRight {
  top: calc(50% - 1rem);
  bottom: auto;
}

/* Y placement top */
.heading-highlighter-toggle.topLeft,
.heading-highlighter-toggle.topCenter,
.heading-highlighter-toggle.topRight {
  top: 1rem;
  bottom: auto;
}

/* X placement left */
.heading-highlighter-toggle.topLeft,
.heading-highlighter-toggle.bottomLeft,
.heading-highlighter-toggle.midLeft {
  left: 1rem;
  right: auto;
}

/* X placement center */
.heading-highlighter-toggle.topCenter,
.heading-highlighter-toggle.bottomCenter {
  left: calc(50% - 2rem);
  right: auto;
}

/* X placement right */
.heading-highlighter-toggle.topRight,
.heading-highlighter-toggle.bottomRight,
.heading-highlighter-toggle.midRight {
  left: auto;
  right: 1rem;
}
