{#
/**
 * @file
 * Heading Highlighter Block Display.
 *
 * Available variables:
 * - show_toggle: Whether or not to show the highlighter toggle button.
 * - id: the HTML ID of the toggle button.
 * - highlight_default: whether to turn on highlighting by default.
 */
#}

{% if show_toggle and id %}
  {% set button_text = highlight_default ? : 'Toggle heading highlight on'|t %}
  {% set attributes =
    create_attribute().setAttribute('id', id).addClass(
      'heading-highlighter-toggle'
    ).addClass(
      highlight_default ? 'toggle-off' : ''
    )
  %}
  {% set toggle_on_display = highlight_default ? 'display: none;' : '' %}
  {% set toggle_off_display = highlight_default ? '' : 'display: none;' %}
  <button {{ attributes }}>
    <span style="{{ toggle_off_display }}" class="toggle-off-text">
      {{ 'Toggle heading highlight off'|t }}
    </span>
    <span style="{{ toggle_on_display }}" class="toggle-on-text">
      {{ 'Toggle heading highlight on'|t }}
    </span>
  </button>
{% endif %}
